#netflix-chat-box {
    opacity: 0.7;
    display: block;
    width: 300px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 11px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    color: #fff;
}

#netflix-chat-box:hover {
    opacity: 1;
}

.netflix-chat-messages-container {
    padding: 10px;
    height: 300px;
    overflow: auto;
}

#netflix-chat-box .row {
    display: block;
    margin: 5px 0;
}

#netflix-chat-box .row.system-row {
    color: darkgreen;
}

#netflix-chat-box-prompt-form-text-field {
    background: #000;
    color: #fff;
    font-size: 11px;
    display: block;
    padding: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
